*{
    box-sizing: border-box;
}

html{
    background-color: rgb(231, 231, 231);
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}

.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.card{
    margin-bottom: 20px;
}

#formPanel{
    margin-bottom: 150px;
    width: 520px;
    height: 100px;
}

.topic, .username, .email, .password{
    background-color: #ffffff;
}

.topic{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.password{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.row{
    height: 60%;
    width: 100%;
}

.info{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 40px;
}

label{
    display: inline-block;
    letter-spacing: 0.5px;
    color: #212124;
    width: 100px;
}

#inputs{
        display: inline-block;
        max-width: 300px;
        width: 300px;
        background-color: transparent;
        border: none;
        outline: none;
        margin-left: 50px;
        color: rgb(0, 0, 0);
}

#inputPass{
    display: inline-block;
        max-width: 300px;
        width: 276px;
        background-color: transparent;
        border: none;
        outline: none;
        margin-left: 50px;
        color: black;
}

input::placeholder{
    color: #3f3f3f;
}

.button
{
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    height: 55px;
    width: 520px;
    background-color: #1845c2;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1); 
    margin: 54px 0 -39px 0;
}

.button2:hover
{
    background-color: #2452d1;
}

#btn{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 19px 0px;
    width:100%;
    cursor: pointer;
}

a{
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    display:inline-block;
    width:100%;
    height:100%;
    border: none;
    color: #fff;
    border-radius: 5px;
    outline: none; 
    padding: 19px 0px;
}

span{
    text-align: center;
    display: inline-block;
    cursor: pointer;
    color: #18C2C0;
    width: 24px;
    height: 24px;
    border: 2px solid #18C2C0;
    border-radius: 50%;
    float: right;
    transform: translate(-18px);
}

#viewhideImg{
    width: 25px;
    height: 25px;
    cursor: pointer;
    float: right;
    transform: translate(-18px);
}

.message{
    color: white;
}

@media only screen and (max-width: 600px) {
    #formPanel{
        width: 90%;
        margin: 0 auto;
    }

    .button{
        width: 90%;
    }

    a{
        width: 250px;
    }
}